@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ff00c8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Goudy Bookletter 1911", sans-serif;
}

a {
  color: var(--foreground);
}
button {
  color: var(--foreground);
  background: var(--background);
}